
/* TOP MENU */

table {
  width: 100%;
  margin: 0!important;
}
li span {
  color: #ffd500;
}

#menu {
  text-align: center;
  color: #d3d3d3;
  padding: 5px;
}

#top-nav {
  background-color: #1e1e1e;
  font-family: "Lovelo";
}

#top-nav-cns {
  word-wrap: normal;
  font-size: 3em;
  text-align: center;
  padding-top: 0.7em;
  color: #1e1e1e;
  background-color:  #ffd500;
}

/* SOCIAL BUTTONS */
.social-square {
  width: 5.5em;
  height: 5.5em;
  padding-top: 1.1em;
  position: relative;
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
}
#social-fb {
  background-color: #3b5998;
}
#social-tw {
  background-color: #55acee;
}


/* SECONDARY NAV MENU */

#second-nav {
  background-color: #696969;
  width: 100%;
  font-family: 'Lovelo';
  font-size: 1.2em;
}
#powered-by {
  color: #1e1e1e;
  text-align: center;
  background-color: #fde159;
}

#trending-list {
  text-align: center;
  color: #d3d3d3;
}


/* MOBILE MENU
@media (max-width: 967px) { 
  #social-fb, #social-tw, #trending-list { 
    display: none;
  }
}
 */

/* *********************************************** */

#trending_list li 
{
  display: inline;
  padding: 8px;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  font-size: 12px;
}

.white_link 
{
  color:white;
}




#twitter_bird_nav 
{
  color:white;
  position: relative;
  top: 0px;
}

#search_glass_nav
{
  color:white;
}

#facebook_f_nav
{
  color: white;
  position: relative;
  top: 0px;
}

#text-right 
{
  text-align: right;
  display: inline;
}


#trending_nav 
{
  color:white;
  position: relative;
  bottom: -7px;
  left: 24px;
}





#top_nav_Trending
{
  margin-left: 15%;
  margin-bottom: 10%;
  width: 100%;
  color: white;
  position: relative;
  bottom: 7px;
}


#trending_list li
{
  display:inline;
  padding: 8px;
  list-style-type:none;
  margin:0;
  padding: 8px;
  position: relative;
  top: 2px;
}

/*
=======
>>>>>>> origin/master
#logo {
  color: #ffd500;
  font-size: 2em;
  margin: 10px;
  text-align: left; 
  font-family: 'Lovelo';
  z-index: 1;
}
*/

.just_trending {
  margin-right: 1px;
}

.trending_nav {
  margin-right: 38px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffd500;
}

#poweredbybar {
  width: 44.5%;
  height: 25px;
  background-color: #404040;
  position: relative;
  top: -50px;
  left: 99px;
  padding-left: 17px;
  z-index: -1;
}

#poweredbytext {
  font-size: 11.5px;
  position: relative;
  top: 13%;
  color: white;
}

.topnavbar {
  z-index: 10;
}

#topnavcontainer{
  background-color: #262626;
}

#trending_list {
  margin-right: 100px;
}


/*.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none !important;
} This makes the navbar always collapsed*/

/*