.row {
  margin-right: 0;
  margin-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/*

COLORS:

	NEAR BLACK: 1e1e1e

	LIGHTER BLACK: 444443; (262626)

	RED: #D62124

	GOLD: ffd500 --> ffd400

	WHITE

*/

h1 {
	color: white;
}

h3 {
  font-weight: 700;
}

h4 {
  color: black;
}

.block_header {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.3em;
  margin-top: 1em;
  background: #444443;
  display: inline;
  color: #fff;
  word-wrap: normal;
}

.byline {
    color: white;
}


/* arrow code from stackoverflow.com/questions/16237181/how-to-add-bordered-triangle-over-a-div-tag */
.arrow_box {
    position: relative;
    background: #262626;
    width: 100%;
    height: 215px;
    padding: 10px;
}
.arrow_box:after, 
.arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #262626;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
}
.arrow_box:before {
    border-color: rgba(113, 158, 206, 0);
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

/*

***********************************************

					TOP MENU

***********************************************

*/

/*
#logo {
	width: 100px;
	height: 100px;
	background-color: #ffd500;
	z-index: 1;
}
*/

#logo {
  background-color: #ffd500;
  display: table; 
  position: relative;
  height: 100px;
  margin-left: 25px;
  overflow: hidden;
  padding: 0 10px;
  width: 100px;
  z-index: 11;
}
#logo:first-child {
  margin-left: 0;
}
#logo_content {
  color: #fff;
  display: table-cell; 
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center; 
  vertical-align: middle; 
}

#poweredbybar {
	width: 42%;
  height: 25px;
  background-color: #dddddd;
  position: relative;
  top: -50px;
  left: 99px;
  padding-left: 17px;
  z-index: -1;
}

#poweredbytext {
  font-size: 11.5px;
  position: relative;
  top: 13%;
}

.topnavbar {
	z-index: 10;
}

#topnavcontainer{
	background-color: #262626;
}

#trending_list {
  margin-right: 100px;
}


/*.navbar-header {
	float: none;
}

.navbar-toggle {
	display: block;
}

.navbar-collapse.collapse {
	display: none !important;
} This makes the navbar always collapsed*/


/*

***********************************************

          Top of Page

***********************************************

*/

#toppage {
  margin: 20px 0 0 0;
  padding: 0;
}

#slider_wrapper {
  padding-left: 0;
  margin: 0;
}

#main_slider {
  width: 100%;
  height: 370px;
  background-image: url("images/hunting.jpg");
}
#main_slider h4 {
  color: #ffd500;
}

#slider_text {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  background-color:rgba(68, 68, 67, 0.7);
}

#latest_arrow {
    position: relative;
    background: #990000;
    width: 100%;
    height: 40px;
    margin: 0;
    font-size: 1.2em;
    padding: 8px;
}
#latest_arrow:after, 
#latest_arrow:before {
    top: 100%;
}
#latest_arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #990000;
}

#latest_header {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: white;
  padding: 0;
  margin-top: 20px;
}

#latest_body {
  width: 100%;
  background-color: #444443;
  height: 320px;
  padding: 0;
  margin: 0 auto;
}
#latest_body p {
  font-weight: 300;
  text-align: left;
  padding: 5px;
}
#latest_body p:first-child {
  padding-top: 24px;
}

#latest_body span {
  color: #ffd500;
}

/*

***********************************************

					CNS TV

***********************************************

*/

#cnstv_bar {
  background-color: #ffd500;
  display: table; 
  width: 100%;
  margin: 20px 0;
}
#cnstv_bar:first-child {
  margin-left: 0;
}
#cnstv_text {
  color: #fff;
  display: table-cell; 
  text-align: left; 
  vertical-align: middle; 
}
#tvname {
  font-size: 5.2em;
  font-weight: 700;
  line-height: 0.5em;
  position: relative;
  top: 4px;
  right: 0px;
}
#tvsubtext {
  display: none;
}
#cnstv_body {
  width: 100%;
  height: 150px;
  background-color: black;
  margin: 0;
}




/* THIS CODE IS FOR TABLET+
#cnstv_subtext {
  color: #6f6e6e;
  display: table-cell; 
  font-size: 1em;
  font-weight: 700;
  text-align: right; 
  vertical-align: middle; 
  margin: 7px 0 0 0;
}


#cnstv_body {
	height: 100%;
	width: 100%;
  margin: 0;
}
#thumbnails {
	padding:0;
}
.videothumbnail {
	width: 100%;
	height: 120px;
	margin: 0 0 25px 0;
	background-color: black;
  top: 0;
  left: 0;
  padding: 0;
  position: relative;
}
#main_video_wrapper {
  padding-right: 0;
}
#main_video {
	width: 100%;
	height: 410px;
	background-color: black;
  margin: 0;
}

.arrow_box_tv {
  width: 45px;
  height: 40px;
  background-color: #ffd400;
  position: absolute;
  top: 66.5%;
}

*/

/*

***********************************************

          Sub-Categories

***********************************************

*/
.category {
  width: 97%;
  height: 200px;
  background-color: black;
  margin: 0 auto;
  margin-top: 20px;
  float: right;
  padding: 0;
}
.category_name {
  display: inline-block;
  padding: 5px;
  background-color: #990000;
  color: white;
  font-weight: 400;
  font-size: 1.3em;
  text-align: left;
  position: relative;
  right: 1.7%;
  bottom: 3%;
}

.subcategory {
  background-color: white;
  height: 200px;
  margin: 10px;
  padding: 10px;
}


/*

***********************************************

					STUDIO C

***********************************************

*/

#studioc_arrow {
    position: relative;
    background: #444443;
    height: 400px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 20px;
}
#studioc_arrow:after, 
#studioc_arrow:before {
    top: 100%;
    border: solid transparent;
    position: absolute;
}

#studioc_arrow:after {
    border-top-color: #444443;
    border-width: 19px;
}
#studioc_arrow:before {
    border-width: 20px;
}

#studioc_logo_content {
  color: white;
  font-weight: 700;
  display: table-cell;
  font-size: 3em;
  text-align: left;
  position: relative;
  padding: 0;
  left: 3%;
  top: 3%;
}

#studiocname span {
  color: #ffd400;
  margin: 0;
}

#studioctagline {
  display: none;  
}

/* FOR TABLET+
#studioc_tagline {
	color: #fff;
	font-size: 2em;
  margin-top: 30px;
  text-align: right;
  vertical-align: middle;
}
*/

#business {
  background-color: #444443;
}

/*

***********************************************

          INVESTIGATES

***********************************************

*/

#investigates {
  background-color: #ffd500;
  height: 600px;
}

#investigates_header {
  font-weight: 700;
  color: #ffd500;
  font-size: 1.6em;
  text-align: center;
}



/*

***********************************************

					FOOTER

***********************************************

*/

.navbar {
	border: 0;
  margin: 0;

}

<<<<<<< Updated upstream
=======
.arrow_box {
    position: relative;
    background: #262626;
    width: 100%;
    height: 275px;
    padding: 10px;
}
>>>>>>> Stashed changes

.row-centered {
	text-align:center;
}


#footer_highlight {
	background-color: #ffd500;
	width: 100%;
	height: 15px;
  margin-top: 20px;
<<<<<<< Updated upstream
=======
  overflow-x:hidden; 
}

#footer_poweredby_text {
  margin-bottom: 8px;
}

#footer_social li {
  display: inline;
  list-style-type: none;
  vertical-align: center;
  position: relative;
  right: 1.6%;
}

.bottom_social {
  margin-left: 10px;
  margin-right: 10px;
>>>>>>> Stashed changes
}

.merrill_logo {
  width: 75%;
}

#footercontainer *{
	color: white;
}

#footer_about_tags {
  margin-bottom: 12px;
  margin-top: 7px;
<<<<<<< Updated upstream
=======
  position: relative;
  right: .6%;
>>>>>>> Stashed changes
}

#Bottom_PoweredBy {
  position: relative;
  top: 2%;
  left: 5%;
}

@media (max-width: 767px) {
  
  #copyright{
    text-align: center;
  }

  #Bottom_PoweredBy {
    position: relative;
    top: 2%;
    margin-top: 10px;
    margin-bottom: 90px;
  }

  .arrow_box {
    position: relative;
    background: #262626;
    width: 100%;
    height: 318px;
    padding: 10px;
  }
<<<<<<< Updated upstream
=======

  #Bottom_Subscribe {
  position: relative;
  top: 2%;
  left: 5%;
  }

  #footer_social {
    position: relative;
    right: 5%;
  }
>>>>>>> Stashed changes
}

#copyright {
	text-align: center;
  font-size: 11px;
  position: relative;
  top: 3em;
}
/*
#merrill_logo {
  background-image: url(images/merrill.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}
*/

/*

***********************************************

        FONT AWESOME

***********************************************
*/

.fa-white {
  color: white;
}

/*
***********************************************

				MEDIA QUERIES

***********************************************

*/

@media (max-width: 767px) { 
  #poweredbybar { 
    display: none;
   }

/*
@media (min-width: 760px) { 
  #poweredbybar { 
    display: block; 
    } 
}
*/