@font-face {
  font-family: 'Lovelo';
  src: url('fonts/lovelo/Lovelo_Black.otf'); /* IE9 Compat Modes */
  src: url('fonts/lovelo/Lovelo_Black.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lovelo/Lovelo_Black.otf') format('woff2'), /* Super Modern Browsers */
       url('fonts/lovelo/Lovelo_Black.otf') format('woff'), /* Pretty Modern Browsers */
       url('fonts/lovelo/Lovelo_Black.otf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/lovelo/Lovelo_Black.otf') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6 {
	color: #1e1e1e;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 14px;
  line-height: 16px;
}

.block-header {
  font-weight: 400;
  position: relative;
  background: #444443;
  display: inline;
  z-index: 100;
  color: #fff;
  word-wrap: normal;
  padding-left: 5px;
  padding-right: 5px;
}
.tags {
  font-weight: 400;
  background: #ffd500;
  display: inline;
  color: #fff;
  word-wrap: normal;
  padding: 3px 10px 3px 10px;
}

.byline {
    color: white;
    font-size: 0.7em;
}

.img-responsive {
  margin-bottom: 20px;
}


/* arrow code from stackoverflow.com/questions/16237181/how-to-add-bordered-triangle-over-a-div-tag */
.arrow_box {
    position: relative;
    background: #262626;
    width: 100%;
    padding: 10px;
}
.arrow_box:after, 
.arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #262626;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
}
.arrow_box:before {
    border-color: rgba(113, 158, 206, 0);
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

/*

***********************************************

					TOP MENU

***********************************************

/*New Menu by Teddy
*/

#trending_list li 
{
  display: inline;
  padding: 8px;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  font-size: 12px;
}

.white_link 
{
  color:white;
}


#social_nav 
{
  position: fixed;
  right: 16px;
}

#twitter_nav 
{
  background-color: #55acee;
  padding: 15.3px;
  padding-bottom: 9px;
  display: inline;
  position: fixed;
  top: -2px;
  right: 47px;
}

#search_nav 
{
  background-color: #7e7e7e;
  padding: 0px;
  display: inline;
  position: fixed;
  top: 50px;
  right: 0px;
  padding-right: 0px;
}

#facebook_nav 
{
  background-color: #3b5998;
  padding: 18.3px;
  display: inline;
  position: fixed;
  top: -6px;
  right: 0px;
}

#twitter_bird_nav 
{
  color:white;
  position: relative;
  top: 0px;
}

#search_glass_nav
{
  color:white;
}

#facebook_f_nav
{
  color: white;
  position: relative;
  top: 0px;
}

#text-right 
{
  text-align: right;
  display: inline;
}

#top_nav 
{
  background-color: #333;
}

#trending_nav 
{
  color:white;
  position: relative;
  bottom: -7px;
  left: 24px;
}

.second_nav 
{
  background-color: #696969;
  height: 35px;
}

#top_nav_CNS
{
  margin-left: 17%;
  width: 100%;
  font-size: 32px;
  font-family: 'Lovelo';
  padding-top: 20px;
  color: #333;
  background-color:  #ffd500;
}

#top_nav_Trending
{
  margin-left: 15%;
  margin-bottom: 10%;
  width: 100%;
  color: white;
  position: relative;
  bottom: 7px;
}

#Top_navbar_Poweredby_Merrill
{
  color: white;
  font-size: 10px;
  position: relative;
  top: 30px;
  left: 6%;

}

#trending_list li
{
  display:inline;
  padding: 8px;
  list-style-type:none;
  margin:0;
  padding: 8px;
  position: relative;
  top: 2px;
}

/*
=======
>>>>>>> origin/master
#logo {
  color: #ffd500;
  font-size: 2em;
  margin: 10px;
  text-align: left; 
  font-family: 'Lovelo';
	z-index: 1;
}
*/

.just_trending {
  margin-right: 1px;
}

.trending_nav {
  margin-right: 38px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffd500;
}

#poweredbybar {
	width: 44.5%;
  height: 25px;
  background-color: #404040;
  position: relative;
  top: -50px;
  left: 99px;
  padding-left: 17px;
  z-index: -1;
}

#poweredbytext {
  font-size: 11.5px;
  position: relative;
  top: 13%;
  color: white;
}

.topnavbar {
	z-index: 10;
}

#topnavcontainer{
	background-color: #262626;
}

#trending_list {
  margin-right: 100px;
}


/*.navbar-header {
	float: none;
}

.navbar-toggle {
	display: block;
}

.navbar-collapse.collapse {
	display: none !important;
} This makes the navbar always collapsed*/

/*

***********************************************

          SUBMIT BUTTON
  (http://codepen.io/siwicki/pen/FHkwu)

***********************************************

*/

.cf:before, .cf:after{
    content:"";
    display: table;
}
 
 /*
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    
*/

 /* Form wrapper styling */
.search-wrapper {
width: 220px;
margin: 10px 175px 20px 10px;
}
 
/* Form text input */
 
.search-wrapper input {
width: 148px;
height: 30px;
padding: 10px 5px;
float: left;
font: 10px;
border: 0;
background: white;
border-radius: 0px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
height: 30px;
width: 72px;
color: white;
text-transform: uppercase;
background: #ffd500;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #990000;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #5E0000;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #ffd500 transparent;
    top: 8px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #990000;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #5E0000;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

/*

***********************************************

          Top of Page

***********************************************

*/

#toppage {
  margin: 20px 0 0 0;
  padding: 0;
}

#slider_wrapper {
  padding-left: 0;
  margin: 0;
}

#main_slider {
  width: 100%;
  height: 370px;
  background-image: url("images/hunting.jpg");
}
#main_slider h4 {
  color: #ffd500;
}

#slider_text {
  position: relative;
  bottom: 0;
  padding-left: 10px;
  background-color:rgba(68, 68, 67, 0.7);
}
#slider_text h1 {
  color: white;
}

#latest_arrow {
    position: relative;
    background: #990000;
    width: 100%;
    height: 40px;
    margin: 0;
    font-size: 1.3em;
    padding: 8px;
    text-align: center;
}
#latest_arrow:after, 
#latest_arrow:before {
    top: 100%;
}
#latest_arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #990000;
}

#latest_header {
  width: 100%;
  color: #1e1e1e;
  padding: 0;
  margin-top: 20px;
}

#latest_header span {
  color: white;
}

#latest_body {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  font-size: 1.2em;
  border: 1px solid #1e1e1e;
}
#latest_body p:first-child {
  padding-top: 24px;
}
#latest_body span {
  color: #ffd500;
}

/*

***********************************************

					CNS TV

***********************************************

*/

#cnstv_header {
  background-color: #ffd500;
  height: 38px;
}
#cnstv_text {
  color: #fff;
  text-align: left; 
  vertical-align: middle; 
  font-size: 4.2em;
  font-weight: 700;
  line-height: 0.5em;
  position: relative;
  top: 4px;
  right: 0px;
}
#cnstv_subtext { 
  color: #fff;
  font-size: 2em;
  float: right;
}
@media (max-width: 1280px) { 
  #cnstv_subtext { 
    display: none;
  }
}
#cnstv_content {
  height: 300px;
  background-color: black;
  margin-top: 10px;
}

#cnstv-tease {
  background-color: #ccc;
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
  margin-top: 10px;
}


/* THIS CODE IS FOR TABLET+
#cnstv_subtext {
  color: #6f6e6e;
  display: table-cell; 
  font-size: 1em;
  font-weight: 700;
  text-align: right; 
  vertical-align: middle; 
  margin: 7px 0 0 0;
}


#cnstv_body {
	height: 100%;
	width: 100%;
  margin: 0;
}
#thumbnails {
	padding:0;
}
.videothumbnail {
	width: 100%;
	height: 120px;
	margin: 0 0 25px 0;
	background-color: black;
  top: 0;
  left: 0;
  padding: 0;
  position: relative;
}
#main_video_wrapper {
  padding-right: 0;
}
#main_video {
	width: 100%;
	height: 410px;
	background-color: black;
  margin: 0;
}

.arrow_box_tv {
  width: 45px;
  height: 40px;
  background-color: #ffd400;
  position: absolute;
  top: 66.5%;
}

*/

/*

***********************************************

          Sub-Categories

***********************************************

*/


.category {
  width: 97%;
  height: 200px;
  background-color: #ccc;
  margin: 0 auto;
  margin-top: 20px;
  float: right;
  padding: 0;
}
.category_name {
  display: inline-block;
  padding: 3px 10px 3px 10px;
  background-color: #990000;
  color: white;
  font-weight: 400;
  font-size: 1.3em;
  text-align: left;
  position: relative;
  right: 1.7%;
  bottom: 3%;
}

.subcategory {
  background-color: white;
  height: 200px;
  margin: 10px;
  padding: 10px;
}


/*

***********************************************

					STUDIO C

***********************************************

*/

#studioc_arrow {
    position: relative;
    background: #444443;
    height: 400px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 20px;
}
#studioc_arrow:after, 
#studioc_arrow:before {
    top: 100%;
    border: solid transparent;
    position: absolute;
}

#studioc_arrow:after {
    border-top-color: #444443;
    border-width: 19px;
}
#studioc_arrow:before {
    border-width: 20px;
}

#studioc_logo_content {
  color: white;
  font-weight: 700;
  display: table-cell;
  font-size: 3em;
  text-align: left;
  position: relative;
  padding: 0;
  left: 3%;
  top: 3%;
}

#studiocname span {
  color: #ffd500;
  margin: 0;
}

#studioctagline {
  display: none;  
}

/* FOR TABLET+
#studioc_tagline {
	color: #fff;
	font-size: 2em;
  margin-top: 30px;
  text-align: right;
  vertical-align: middle;
}
*/

#business {
  background-color: #444443;
}

/*

***********************************************

          INVESTIGATES

***********************************************

*/

#investigates {
  background-color: #ffd500;
  height: 600px;
}

#investigates_header {
  font-weight: 700;
  color: #ffd500;
  font-size: 2em;
  text-align: center;
  height: auto;
  overflow: visible;
}

#investigates_teaser {
  text-align: center;
}
#investigates_teaser h3 {
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
}


/*

***********************************************

					FOOTER

***********************************************

*/

#footer *{
  color: white;
}

#footer_highlight {
  background-color: #ffd500;
  width: 100%;
  height: 12px;
  margin-top: 38px;
  overflow-x:hidden; 
}

.arrow_box {
    position: relative;
    background: #262626;
    width: 100%;
    height: 275px;
}

.navbar {
	border: 0;
  margin: 0;
}

.form-group-edit {
  margin-left: 2.5%;
}

#footer_social li {
  display: inline;
  list-style-type: none;
  vertical-align: center;
  position: relative;
  right: 1.6%;
}

.bottom_social {
  margin-left: 10px;
  margin-right: 10px;
}

#bottom_social_Facebook:hover {
  color:#3b5998;
}
#bottom_social_Instagram:hover {
  color:#3f729b;
}
#bottom_social_Twitter:hover {
  color:#55acee;
}

.merrill_logo {
  width: 55%;
}

.email_form_size {
    width: 50%;
}

#footer_about {
  margin-bottom: 12px;
  margin-top: 7px;
  position: inherit;
  margin-right: .06%;
  text-align: center;
}

#Bottom_PoweredBy {
  position: relative;
  top: 2%;
  left: 21%;
}

#Bottom_Subscribe {
  position: relative;
  left: 5%;
}

@media (max-width: 767px) {

  .arrow_box {
    position: relative;
    background: #262626;
    width: 100%;
    height: 320px;
    padding: 10px;
  }

  #footer_social {
    position: relative;
    right: 5%;
  }
}

#copyright {
	text-align: center;
  font-size: 0.9em;
  position: relative;
}

/*
#merrill_logo {
  background-image: url(images/merrill.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}
*/

/*
***********************************************

        SOCIAL MEDIA BUTTONS

***********************************************
*/

.fa-white {
  color: white;
}

.btn {
  color: white;
}
.btn a, .btn a:hover {
  color: white;
  text-decoration: none;
}

#btn-fb {
  background-color: #3a5795;
}
#btn-twi {
  background-color: #55acee;
}
#btn-ins {
  background-color: #49779d;
}
#btn-plus {
  background-color: #1e1e1e;
}

#extra-social {
  display: none;
}

#share {
  margin-bottom: 15px;
}

li {
  display: inline;
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

ul {
  padding-left: initial;
}

/*

***********************************************

          ARTICLE ASSETS

***********************************************

*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.red-hr {
  background-color: #990000;
  height: 5px;
  margin-top: 0;
}

#related-tease {
  background-color: #ccc;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.author-bio {
  background-color: #eee;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 100px;
}
.author-bio h2{
  color: black;
  margin-bottom: -20px;
}
.author-bio-pic {
  background: url("images/jin-2.png");
  border-radius: 50%;
  width:100px;
  height: 100px;
  font-size: 50px;
  vertical-align: top;
  background-position: center;
  margin-top: 3%;
  margin-bottom: -10px;
}

.author-social {
  display: block;
  vertical-align: center;
  text-align: center;
}

.author-stories {
  border: 1px solid #1e1e1e;
  border-radius: 2px;
  text-align: center;
  margin-top: 20px;
}
/*

***********************************************

          CATEGORY PAGE

***********************************************

*/


.category-header {
  margin-bottom: 25px;
  margin-top: 100px;
}
.view-more-bar {
  color: #fff;
  background-color: #990000;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  padding: 10px;
  border-radius: 3px;
}
.category-text {
  color: #fff;
  text-align: right; 
  vertical-align: middle; 
  font-size: 1.5em;
  line-height: 0.5em;
  position: relative;
  top: 4px;
  right: 0px;
}
.category-subtext { 
  color: #fff;
  font-size: 2em;
  float: right;
}
@media (max-width: 1280px) { 
  .category-subtext { 
    display: none;
  }
}

/*

***********************************************

                  ADS

***********************************************

*/

.ad {
  background-color: #eee;
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

.ad2 {
  background-color: #eee;
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
}

/*
***********************************************

				MEDIA QUERIES

***********************************************

*/

@media (max-width: 767px) { 
  #poweredbybar { 
    display: none;
   }

/* 
@media (min-width: 760px) { 
  #poweredbybar { 
    display: block; 
    } 
}
*/








